<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Capstone Suite">
    <test name="NopCommerce Tests">
        <classes>
            <class name="com.capstone.tests.LoginTest"/>
            <class name="com.capstone.tests.RegisterTest"/>
            <class name="com.capstone.tests.AddressTest"/>
            <class name="com.capstone.tests.CartTest"/>
            <class name="com.capstone.tests.ChangePasswordTest"/>
            <class name="com.capstone.tests.CheckoutTest"/>
            <class name="com.capstone.tests.E2ELoginTest"/>
            <class name="com.capstone.tests.E2ERegisterTest"/>
            <class name="com.capstone.tests.ProductSearchTest"/>
            
            
        </classes>
    </test>
</suite>

